<% if (title) { %>
    <h1 class="login-title"><%= title %></h1>
    <% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<% if (accountData.account_type === "Client") { %>
    <h2 class="login-welcome">Welcome, <%= accountData.account_firstname %></h2>
    <p class="login-link"><a href="/account/update/<%= accountData.account_id %>">Update Account Information</a></p>
<% } else { %>
    <h2 class="login-welcome">Welcome, <%= accountData.account_firstname %></h2>
    <h3 class="login-welcome">Inventory Management</h3>
    <p class="login-link"><a href="/cse340-motors/inv">Go to Inventory Management</a></p>
<% } %>