<% if (title) { %>
    <h1 class="register-title"><%= title %></h1>
  <% } else { res.redirect('/') } %>
  
  <%- messages() %>
  
  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
  
  <form id="accountUpdate" action="/account/update/account-info" method="post">
    <div class="form-group">
      <label for="fname">First Name:</label>
      <input type="text" name="account_firstname" id="accountFirstname" required placeholder="Enter your first name" 
             value="<%= account_firstname %>">
    </div>
    <div class="form-group">
      <label for="lname">Last Name:</label>
      <input type="text" name="account_lastname" id="accountLastname" required placeholder="Enter your last name"
             value="<%= account_lastname %>">
    </div>
    <div class="form-group">
      <label for="email">Email Address:</label>
      <input type="email" name="account_email" id="accountEmail" required placeholder="Enter a valid email address"
             value="<%= account_email %>">
    </div>
    <button type="submit">UPDATE INFO</button>
    <input type="hidden" name="account_id" value="<%= account_id %>" />
  </form>
  
  <form id="changePassword" action="/account/update/change-password" method="post">
    <div class="form-group">
      <label for="password">Password:</label>
      <span class="password-info">Entering a password will change your current password.</span>
      <span class="password-info">Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
      <input type="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
             placeholder="Enter a password">
    </div>
    <button type="submit">UPDATE PASSWORD</button>
    <input type="hidden" name="account_id" value="<%= account_id %>" />
    <input type="hidden" name="account_firstname" value="<%= account_firstname %>">
    <input type="hidden" name="account_lastname" value="<%= account_lastname %>">
    <input type="hidden" name="account_email" value="<%= account_email %>">
  </form>
  